* {
  font-family: Helvetica;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  overflow: overlay;
  background: transparent;
}

img {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}

#logo {
    position: absolute;
    top: 25rem;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: -25rem;
}

