* {
  font-family: 'Jost';
  /* font-weight: bold; */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  overflow: overlay;
  /* background: transparent; */
  overflow-x: hidden;
  animation: fadeIn ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* .navbar-toggler {
  border-style: none;
} */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 30%);
}

img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

#logo {
  position: fixed;
  top: 15rem;
  left: -3%;
  width: 100%;
  /* min-height: 1vh; */
  max-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -5rem; */
  z-index: 3;
}

#cta {
  padding-top: 10%;
  padding-bottom: 13%;
  width: 100%;
  /* text-align: center; */

  /* width:; */
}

form {
  width: 75%;
  padding-left: 37.5%;
  padding-top: 2%;
  padding-right: 12.5%;
  padding-bottom: 0;
  margin-bottom: -2%;
}

/* Classes */

.mb-3 {
  padding-top: 2%;
}

#exampleCheck1 {
  margin-right: -200px;
  margin-left: 185px;
}

#carouselExampleFade, .carousel-item, .carousel-inner, .carousel-item.active {
  width: 100%;
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}